<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="<%= data.settings.url %>/index.xml" rel="self" type="application/rss+xml" />

        <title><%= data.settings.title %></title>
        <link><%= data.settings.url %></link>
        <description><%= data.settings.description %></description>

        <% data.postsIndex.forEach((post) => { %>
            <item>
                <title><%= post.title %></title>
                <link><%= data.settings.url %>/post/<%= post.slug %></link>
                <guid><%= data.settings.url %>/post/<%= post.slug %></guid>
                <pubDate><%= post.date.rss %></pubDate>
                <description>
                    <%= post.html %>
                </description>
            </item>
        <% }) %>
    </channel>
</rss>
