<html>
    <head>
        <%- include('../partials/_head.html', { title: params.post.meta.title + ' | sirikon.me' }); %>
    </head>
    <body>
        <%- include('../partials/_topbar.html', { currentLink: '' }); %>

        <div class="srk-body">
            <article class="srk-article">
                <div class="srk-article-header">
                    <h1><%= params.post.meta.title %></h1>
                    <span class="srk-article-header-date"><%= params.post.meta.date %></span>
                </div>
                
                <%- params.post.html %>
            </article>
        </div>

        <%- include('../partials/_footer.html'); %>
    </body>
</html>
