<html>
    <head>
        <%- include('../partials/_head.html', { title: params.post.title + ' | ' + data.settings.title, meta: [
            ['title', params.post.title],
            ['published_time', params.post.date.d.toISOString()],
            ['author', data.settings.me.fullName],
            ['site_name', data.settings.title],
            ['type', 'article'],
            ['url', data.settings.url + '/post/' + params.post.slug]
        ] }); %>
    </head>
    <body>
        <%- include('../partials/_topbar.html', { currentLink: '' }); %>

        <div class="srk-body">
            <article class="srk-article">
                <div class="srk-article-header">
                    <h1><%= params.post.title %></h1>
                    <span class="srk-article-header-date"><%= params.post.date.display %></span>
                </div>
                
                <%- params.post.html %>
            </article>
        </div>

        <%- include('../partials/_footer.html'); %>
    </body>
</html>
