<html>
    <head>
        <%- include('../partials/_head.html', { title: 'About | ' + data.settings.title, meta: [
            ['title', 'About ' + data.settings.me.name],
            ['image', data.settings.url + '/assets/avatar.png'],
            ['url', data.settings.url + '/about'],
            ['type', 'profile'],
            ['first_name', data.settings.me.name],
            ['last_name', data.settings.me.surname.join(' ')],
            ['username', data.settings.me.alias]
        ] }); %>
    </head>
    <body>
        <%- include('../partials/_topbar.html', { currentLink: 'about' }); %>

        <div class="srk-body">
            <div class="srk-about">
                <h1><span>Hi! I'm</span> <span><%= data.settings.me.name %>.</span></h1>

                <ul>
                    <% data.settings.about.facts.forEach((fact) => { %>
                        <li>
                            <%= fact[0] %>
                            <a href="<%= fact[2] %>" target="_blank" rel="noopener noreferer"><%= fact[1] %></a>.
                        </li>
                    <% }) %>
                </ul>

                <h2>Contact</h2>

                <ul>
                    <% data.settings.about.contact.forEach((fact) => { %>
                        <li>
                            <%= fact[0] %>
                            <a href="<%= fact[2] %>" <% if (fact[2].indexOf('http') === 0) { %> target="_blank" rel="noopener noreferer" <% } %>><%= fact[1] %></a>.
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>

        <%- include('../partials/_footer.html'); %>
    </body>
</html>
