<html>
    <head>
        <%- include('_src/partials/_head.html', { title: 'sirikon.me' }); %>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for sirikon.me" href="/index.xml" />
    </head>
    <body>
        <%- include('_src/partials/_header.html'); %>

        <div class="srk-body">
            <% Object.keys(data.posts).forEach((postKey) => { %>
                <div class="srk-article-resume">
                    <% const post = data.posts[postKey] %>
                    <div>
                        <a href="/posts/<%= postKey %>.html" class="srk-article-resume-title"><%= post.meta.title %></a>
                    </div>
                    <h3 class="srk-article-resume-date"><%= post.meta.date %></h3>
                </div>
            <% }) %>
        </div>

        <%- include('_src/partials/_footer.html'); %>
    </body>
</html>
