<html>
    <head>
        <%- include('_src/partials/_head.html', { title: 'sirikon.me' }); %>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for sirikon.me" href="/index.xml" />
    </head>
    <body>
        <%- include('_src/partials/_header.html'); %>

        <div class="srk-body">
            <% data.postsIndex.forEach((post) => { %>
                <div class="srk-article-resume">
                    <div>
                        <a href="/posts/<%= post.slug %>" class="srk-article-resume-title"><%= post.title %></a>
                    </div>
                    <h3 class="srk-article-resume-date"><%= post.date.display %></h3>
                </div>
            <% }) %>
        </div>

        <%- include('_src/partials/_footer.html'); %>
    </body>
</html>
